@import url('https://fonts.googleapis.com/css?family=Knewave|Roboto');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Knewave', cursive; */
body {
  margin: 0;
  padding: 0;
}
.bg-light {
  background-color: #f8ea19 !important;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: #47525e;
}

.navbar-light .navbar-nav .nav-link {
  color: #47525e;
  margin:  ! important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #47525e;
}

nav ul li {
  margin-left: 8%;
}

.navbar-nav {
  width: 100%;
  margin-left: 8%;
}

form {
  float: right;
  margin-top: 5%;
}

form img {
  width: 70%;
}

.mt-lg-0, .my-lg-0 {
  margin-top: 2% !important;
  margin-right: 2%;
}
.account {
  float: right;
}

.container-fluid {
  padding: 0;
}
.title{
  background: #47525e;
  color: #f8ea19;
}

.container-fluid-title h2  {
  background: #47525e;
  padding-left: 2%;
}
.container-fluid .row .col-md {
  padding-right: 0;
  padding-left: 0;
}
.container-fluid-title p {
  padding: 8%;
  line-height:1.7;
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
}
.container-fluid-title .row .col-4 img {
  width: 100%;
  margin: 15% auto;
  padding-left: 30%;
}

.container-fluid-title .row .col-8 p{
  font-size: 1.2em;
  padding-top: 3%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.container-fluid-title .row .col-8 h3 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 7%;
  font-family: 'Knewave', cursive;
  text-decoration: underline;
}
.footer {
  background-color: #47525e;
  text-align: center;
}
h4 {
  color: #f8ea19;
  font-family: 'Roboto', sans-serif;
}

.payplug img {
  width: 50%;
}
.newletter {
  color: White;
  margin-left: 15% auto;
}

.menu p {
  color: White;
}
.col-6 .form-group {
display: inline-block;
}

img .reseau {
  width: 10%;
}
.copyright {
  color: #f8ea19;
}
